@import "_colors-variables.scss";
.primary-color-one{
	background-color: $primary1;
}

.primary-color-two {
	background-color: $primary2;
}

.primary-color-three {
	background-color: $primary3;
}

.primary-color-four{
	background-color: $primary4;
}

#colors {
  li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em;

    p {
      position: absolute;
      padding: 3px 13px;
      color: #666;
      background-color: #fff;
      font-size: 12px;
      bottom: 0;
      left: 0.9375em;
    }
    .color {
      height: 120px;
      margin-right: 0.9375em;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

input.colors{
  width: 161px;
  margin-top: 10px;
}
